<a href="https://colab.research.google.com/github/Narc2022/-Learn-Python-for-Data-Science-Machine-Learning-from-A-Z/blob/main/Section_6_45_NumPy_Data_Analys.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
np.__version__

'1.22.4'

# Python List


Homogenous List

*   Int
*   float
*   string
*   bool

L = [0,1,2,3,4,5,6,7,8,9]



Heterogeneous 

*   Int + float + string + bool
L = [1,2.2,'hello',true]

In [ ]:
L = [0,1,2,3,4,5,6,7,8,9]
print(L)
L = [1,2.2,'hello',True]
print(L)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2.2, 'hello', True]

In [ ]:
L3 = [1,2.2,'hello',True]
[type(item) for item in L3]

[int, float, str, bool]

>Using loops to create list

In [ ]:
L = list(range(0,10+1))
print(L)
print(type(L[0]))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
<class 'int'>

#Homogeneous 

Typecast integer list to string list using loops

In [ ]:
L2=[]
for c in L:
    L2.append(str(c))
L2

['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10']